html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

thead {
    background-color: rgb(34, 34, 34);
}

#btnFlex {
    display: flex;
}

#title {
    font-weight: bold;
}

.col-md-4 {
    width: 25%;
}

#bckCard {
    background-color: #004C99;
    color: rgba(249, 249, 249, 1);
}

#imgCar {
    width: 300px;
    height: 400px;
}

.custom-ruby {
    display: ruby;
}

.btnSearch {
    vertical-align: baseline;
}
