USE [master]
GO
/****** Object:  Database [CarSharingDB]    Script Date: 28-08-23 17:35:51 ******/
CREATE DATABASE [CarSharingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarSharingDB', FILENAME = N'C:\Users\Abdel\CarSharingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarSharingDB_log', FILENAME = N'C:\Users\Abdel\CarSharingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarSharingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarSharingDB]
GO
USE [CarSharingDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28-08-23 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 28-08-23 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 28-08-23 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 28-08-23 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 28-08-23 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 28-08-23 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 28-08-23 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Firstname] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 28-08-23 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrowings]    Script Date: 28-08-23 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrowings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartDateTime] [datetime2](7) NOT NULL,
	[EndDateTime] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[CarId] [int] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[BorrowerId] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Borrowings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 28-08-23 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](max) NOT NULL,
	[Model] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Year] [int] NOT NULL,
	[Seats] [int] NOT NULL,
	[FuelType] [int] NOT NULL,
	[Transmission] [int] NOT NULL,
	[ImageURL] [nvarchar](max) NOT NULL,
	[OwnerId] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230823160152_initial', N'7.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230823191534_migration1', N'7.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230823212120_Migratie2', N'7.0.10')
GO
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] ON 

INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (1, N'c1590093-2d25-459c-83b8-effbda6f09f7', N'IsAdmin', N'true')
INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (2, N'8407e8cb-d58d-42e6-91b2-0fa79e742b5e', N'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name', N'Xavier@odisee.be')
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrowings] ON 

INSERT [dbo].[Borrowings] ([Id], [StartDateTime], [EndDateTime], [Status], [CarId], [Message], [BorrowerId]) VALUES (6, CAST(N'2020-08-31T00:00:00.0000000' AS DateTime2), CAST(N'2020-09-09T00:00:00.0000000' AS DateTime2), 1, 2001, N'No message', N'a27cfab8-b177-4e8f-8b4c-aae76e974229')
INSERT [dbo].[Borrowings] ([Id], [StartDateTime], [EndDateTime], [Status], [CarId], [Message], [BorrowerId]) VALUES (1002, CAST(N'2023-10-08T12:00:00.0000000' AS DateTime2), CAST(N'2023-10-20T18:00:00.0000000' AS DateTime2), 1, 2002, N'I need a secund car for my job', N'a27cfab8-b177-4e8f-8b4c-aae76e974229')
INSERT [dbo].[Borrowings] ([Id], [StartDateTime], [EndDateTime], [Status], [CarId], [Message], [BorrowerId]) VALUES (2003, CAST(N'2023-10-01T06:00:00.0000000' AS DateTime2), CAST(N'2023-10-10T06:00:00.0000000' AS DateTime2), 0, 2, N'Skoda fore ever', N'8407e8cb-d58d-42e6-91b2-0fa79e742b5e')
SET IDENTITY_INSERT [dbo].[Borrowings] OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([Id], [Brand], [Model], [Description], [Year], [Seats], [FuelType], [Transmission], [ImageURL], [OwnerId]) VALUES (1, N'Volvo', N'V90', N'Luxueuse Break', 2022, 5, 1, 0, N'https://abdomeincerf2.be/img/volvoV90.png', N'a27cfab8-b177-4e8f-8b4c-aae76e974229')
INSERT [dbo].[Cars] ([Id], [Brand], [Model], [Description], [Year], [Seats], [FuelType], [Transmission], [ImageURL], [OwnerId]) VALUES (2, N'Skoda', N'Superb', N'Family & Comfotable Break', 2021, 5, 0, 1, N'https://abdomeincerf2.be/img/SkodaS.png', N'a27cfab8-b177-4e8f-8b4c-aae76e974229')
INSERT [dbo].[Cars] ([Id], [Brand], [Model], [Description], [Year], [Seats], [FuelType], [Transmission], [ImageURL], [OwnerId]) VALUES (2001, N'Tesla', N'S', N'Elictric Sportive family', 2022, 5, 3, 0, N'https://abdomeincerf2.be/img/teslaS.jpg', N'a27cfab8-b177-4e8f-8b4c-aae76e974229')
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 28-08-23 17:35:52 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 28-08-23 17:35:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 28-08-23 17:35:52 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 28-08-23 17:35:52 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 28-08-23 17:35:52 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 28-08-23 17:35:52 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 28-08-23 17:35:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
/****** Object:  Statistic [PK___EFMigrationsHistory]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[__EFMigrationsHistory]([PK___EFMigrationsHistory]) WITH STATS_STREAM = 0x010000000100000000000000000000000FA074F80000000040000000000000000000000000000000E7030000E70000002C0100000000000008D0003400000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_AspNetRoleClaims_RoleId]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[AspNetRoleClaims]([IX_AspNetRoleClaims_RoleId]) WITH STATS_STREAM = 0x01000000020000000000000000000000A6711BEB0000000058000000000000000000000000000000E7030000E7000000840300000000000008D0003400000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_AspNetRoleClaims]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[AspNetRoleClaims]([PK_AspNetRoleClaims]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_AspNetRoles]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[AspNetRoles]([PK_AspNetRoles]) WITH STATS_STREAM = 0x01000000010000000000000000000000581823680000000040000000000000000000000000000000E7030000E7000000840300000000000008D0003400000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [RoleNameIndex]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[AspNetRoles]([RoleNameIndex]) WITH STATS_STREAM = 0x01000000020000000000000000000000F42FED500000000058000000000000000000000000000000E7020000E7000000000200000000000008D0003400000000E7030000E7000000840300000000000008D0003400000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000003_2E1BDC42]    Script Date: 28-08-23 17:35:52 ******/
CREATE STATISTICS [_WA_Sys_00000003_2E1BDC42] ON [dbo].[AspNetUserClaims]([ClaimType]) WITH STATS_STREAM = 0x01000000010000000000000000000000035F08D0000000002302000000000000E301000000000000E7020000E7000000FFFF00000000000008D0003400000000070000004620C20069B0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000803F00000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002D000000000000006F0000000000000077000000000000000800000000000000300010000000803F000000000000803F0400000100250049007300410064006D0069006E00FF01000000000000000100000001000000280000002800000000000000000000000700000049007300410064006D0069006E000200000040000000000107000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_2E1BDC42]    Script Date: 28-08-23 17:35:52 ******/
CREATE STATISTICS [_WA_Sys_00000004_2E1BDC42] ON [dbo].[AspNetUserClaims]([ClaimValue]) WITH STATS_STREAM = 0x0100000001000000000000000000000092FE28C1000000001702000000000000D701000000000000E7020000E7000000FFFF00000000000008D0003400000000070000004520C20069B0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000410000803F0000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000270000000000000063000000000000006B000000000000000800000000000000300010000000803F000000000000803F04000001001F005400720075006500FF01000000000000000100000001000000280000002800000000000000000000000400000054007200750065000200000040000000000104000000000100000000000000
GO
/****** Object:  Statistic [IX_AspNetUserClaims_UserId]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[AspNetUserClaims]([IX_AspNetUserClaims_UserId]) WITH STATS_STREAM = 0x010000000200000000000000000000006F43D8A6000000000703000000000000AF02000000000000E7030000E7000000840300000000000008D00034D4010000380300003800000004000A00000000000000000040000000070000005C4D6C016AB0000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000200000010000000000098420000803F000000000000904200008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B0000000000000000000000000000006700000000000000E30000000000000033010000000000003B010000000000000800000000000000300010000000803F000000000000803F04000001005F00630031003500390030003000390033002D0032006400320035002D0034003500390063002D0038003300620038002D00650066006600620064006100360066003000390066003700FF010000000000000001000000010000002800000028000000000000000000000024000000630031003500390030003000390033002D0032006400320035002D0034003500390063002D0038003300620038002D00650066006600620064006100360066003000390066003700020000004000000000012400000000010000004520C20069B00000000000000000F03F010000000000000001000000000000000000F03F00000000000000000000000000000000000000000000E0BF000000000000E0BF00000000000000000100000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_AspNetUserClaims]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[AspNetUserClaims]([PK_AspNetUserClaims]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_AspNetUserLogins_UserId]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[AspNetUserLogins]([IX_AspNetUserLogins_UserId]) WITH STATS_STREAM = 0x010000000300000000000000000000007BCC44CC0000000070000000000000000000000000000000E7030000E7000000840300000000000008D0003400000000E7030000E7000000000100000000000008D0003400000000E7030000E7000000000100000000000008D0003400000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_AspNetUserLogins]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[AspNetUserLogins]([PK_AspNetUserLogins]) WITH STATS_STREAM = 0x01000000020000000000000000000000882845CA0000000058000000000000000000000000000000E7030000E7000000000100000000000008D0003400000000E7030000E7000000000100000000000008D0003400000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [IX_AspNetUserRoles_RoleId]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[AspNetUserRoles]([IX_AspNetUserRoles_RoleId]) WITH STATS_STREAM = 0x01000000020000000000000000000000136A606D0000000058000000000000000000000000000000E7030000E7000000840300000000000008D0003400000000E7030000E7000000840300000000000008D0003400000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_AspNetUserRoles]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[AspNetUserRoles]([PK_AspNetUserRoles]) WITH STATS_STREAM = 0x01000000020000000000000000000000136A606D0000000058000000000000000000000000000000E7030000E7000000840300000000000008D0003400000000E7030000E7000000840300000000000008D0003400000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000005_25869641]    Script Date: 28-08-23 17:35:52 ******/
CREATE STATISTICS [_WA_Sys_00000005_25869641] ON [dbo].[AspNetUsers]([NormalizedUserName]) WITH STATS_STREAM = 0x01000000010000000000000000000000832D779000000000DB010000000000009B01000000000000E7020000E7000000000200000000000008D000340000000007000000D504770167B0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000803F0000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000100000001000000010000002800000028000000000000000000000000000000010000000000000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_25869641]    Script Date: 28-08-23 17:35:52 ******/
CREATE STATISTICS [_WA_Sys_00000006_25869641] ON [dbo].[AspNetUsers]([Email]) WITH STATS_STREAM = 0x01000000010000000000000000000000B2B090FA00000000B0030000000000007003000000000000E7020000E7000000000200000000000008D0003400000000070000003B96E5006BB000000500000000000000050000000000000000000000CDCC4C3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000050000000500000001000000100000000000E0410000A040000000000000E0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002701000000000000FC010000000000000402000000000000280000000000000059000000000000008E00000000000000BF00000000000000F600000000000000300010000000803F000000000000803F0400000100310061006200640040006F00640069007300650065002E0062006500300010000000803F000000000000803F04000001003500610064006D0069006E0040006F00640069007300650065002E0062006500300010000000803F000000000000803F0400000100310061007000690040006F00640069007300650065002E0062006500300010000000803F000000000000803F0400000100370058006100760069006500720040006F00640069007300650065002E0062006500300010000000803F000000000000803F040000010031007A0061006B0040006F00640069007300650065002E0062006500FF01000000000000000500000005000000280000002800000000000000000000004400000061006200640040006F00640069007300650065002E006200650064006D0069006E0040006F00640069007300650065002E00620065007000690040006F00640069007300650065002E006200650058006100760069006500720040006F00640069007300650065002E00620065007A0061006B0040006F00640069007300650065002E0062006500070000004000000000C001000000810C010000810E0D0000010C1B00008110270000010D370000000500000000000000
GO
/****** Object:  Statistic [EmailIndex]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[AspNetUsers]([EmailIndex]) WITH STATS_STREAM = 0x01000000020000000000000000000000B232563B00000000F3010000000000009B01000000000000E7020000E7000000000200000000000008D0003400000000E7030000E7000000840300000000000008D000340000000007000000BC302A0167B0000001000000000000000100000000000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000010000000000090420000803F0000803F000000000000904200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000100000001000000010000002800000028000000000000000000000000000000010000000000000000000100000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_AspNetUsers]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[AspNetUsers]([PK_AspNetUsers]) WITH STATS_STREAM = 0x01000000010000000000000000000000581823680000000040000000000000000000000000000000E7030000E7000000840300000000000008D0003400000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [UserNameIndex]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[AspNetUsers]([UserNameIndex]) WITH STATS_STREAM = 0x010000000200000000000000000000004DC3348A00000000AB020000000000005302000000000000E7020000E7000000000200000000000008D0003400000000E7030000E7000000840300000000000008D000340000000007000000BEBC310068B0000001000000000000000100000000000000000000000000803F0000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000002000000100000000000C4420000803F000000000000D04100009042000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B00000000000000000000000000000039000000000000008700000000000000D700000000000000DF000000000000000800000000000000300010000000803F000000000000803F040000010031005A0041004B0040004F00440049005300450045002E0042004500FF01000000000000000100000001000000280000002800000000000000000000000D0000005A0041004B0040004F00440049005300450045002E0042004500020000004000000000010D000000000100000067E37A0167B00000000000000000F03F020000000000000001000000000000000000F03F00000000000000000000000000000000000000000000E0BF000000000000E0BF00000000000000000200000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_AspNetUserTokens]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[AspNetUserTokens]([PK_AspNetUserTokens]) WITH STATS_STREAM = 0x010000000300000000000000000000007BCC44CC0000000070000000000000000000000000000000E7030000E7000000840300000000000008D0003400000000E7030000E7000000000100000000000008D0003400000000E7030000E7000000000100000000000008D0003400000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000005_276EDEB3]    Script Date: 28-08-23 17:35:52 ******/
CREATE STATISTICS [_WA_Sys_00000005_276EDEB3] ON [dbo].[Borrowings]([CarId]) WITH STATS_STREAM = 0x0100000001000000000000000000000024189AA8000000000902000000000000C901000000000000380300003800000004000A00000000000000000000000000070000003579BE0069B000000300000000000000030000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803FD1070000040000100014000000803F000000000000803FD20700000400000300000000000000
GO
/****** Object:  Statistic [PK_Borrowings]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[Borrowings]([PK_Borrowings]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_0000000A_29572725]    Script Date: 28-08-23 17:35:52 ******/
CREATE STATISTICS [_WA_Sys_0000000A_29572725] ON [dbo].[Cars]([OwnerId]) WITH STATS_STREAM = 0x01000000010000000000000000000000D75B346900000000FF03000000000000BF03000000000000E7030000E7000000FFFF00000000000008D0003400000000070000007371BC0069B000000400000000000000040000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000100000000000904200008040000000000000904200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000035010000000000004B02000000000000530200000000000018000000000000007700000000000000D600000000000000300010000000803F000000000000803F04000001005F00380034003000370065003800630062002D0064003500380064002D0034003200650036002D0039003100620032002D003000660061003700390065003700340032006200350065003000100000000040000000000000803F04000001005F00390034003000310036006300350030002D0038006400350033002D0034003000310034002D0061003300360033002D00370063003400620038003400640034006500320039006200300010000000803F000000000000803F04000001005F00610032003700630066006100620038002D0062003100370037002D0034006500380066002D0038006200340063002D00610061006500370036006500390037003400320032003900FF01000000000000000400000003000000280000002800000000000000000000006C000000380034003000370065003800630062002D0064003500380064002D0034003200650036002D0039003100620032002D00300066006100370039006500370034003200620035006500390034003000310036006300350030002D0038006400350033002D0034003000310034002D0061003300360033002D00370063003400620038003400640034006500320039006200610032003700630066006100620038002D0062003100370037002D0034006500380066002D0038006200340063002D00610061006500370036006500390037003400320032003900040000004000000000812400000082242400000124480000000400000000000000
GO
/****** Object:  Statistic [PK_Cars]    Script Date: 28-08-23 17:35:52 ******/
UPDATE STATISTICS [dbo].[Cars]([PK_Cars]) WITH STATS_STREAM = 0x010000000100000000000000000000002BAC622A000000002802000000000000E801000000000000380300003800000004000A0000000000000000000000000007000000CFC1C30068B0000004000000000000000400000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000804000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000007C000000000000008400000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F02000000040000100014000000803F000000000000803FE9030000040000100014000000803F000000000000803FEA0300000400000400000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
USE [master]
GO
