USE [master]
GO
/****** Object:  Database [CitytripDB]    Script Date: 28-08-23 17:34:58 ******/
CREATE DATABASE [CitytripDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CitytripDB', FILENAME = N'C:\Users\Abdel\CitytripDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CitytripDB_log', FILENAME = N'C:\Users\Abdel\CitytripDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CitytripDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CitytripDB]
GO
USE [CitytripDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28-08-23 17:34:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 28-08-23 17:34:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Day] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[ItineraryId] [int] NOT NULL,
 CONSTRAINT [PK_Activities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 28-08-23 17:34:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Itineraries]    Script Date: 28-08-23 17:34:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Itineraries](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Destination] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Duration] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Itineraries] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230827164340_Initial', N'7.0.5')
GO
SET IDENTITY_INSERT [dbo].[Activities] ON 

INSERT [dbo].[Activities] ([Id], [Name], [Description], [Day], [StartTime], [EndTime], [ItineraryId]) VALUES (28, N'dqsdsqdqs', N'dsqddqsdqs', 1, CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), 0)
INSERT [dbo].[Activities] ([Id], [Name], [Description], [Day], [StartTime], [EndTime], [ItineraryId]) VALUES (29, N'gjh', N'ilpokujpo', 1, CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), 0)
INSERT [dbo].[Activities] ([Id], [Name], [Description], [Day], [StartTime], [EndTime], [ItineraryId]) VALUES (30, N'rfbg', N'fgh', 1, CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), 0)
SET IDENTITY_INSERT [dbo].[Activities] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Avontuur')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Odyssee')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Exploration')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Itineraries] ON 

INSERT [dbo].[Itineraries] ([ID], [Name], [Destination], [Description], [Duration], [CategoryId]) VALUES (2002, N'Discovering Paris', N'Paris, France', N'Explore the wonders of the City of Light and try to live a la francaise', 7, 1)
INSERT [dbo].[Itineraries] ([ID], [Name], [Destination], [Description], [Duration], [CategoryId]) VALUES (2003, N'Bali Adventure', N'Bali, Indonesia', N'Experience the natural beauty of Bali through adventures and beaches.', 10, 2)
INSERT [dbo].[Itineraries] ([ID], [Name], [Destination], [Description], [Duration], [CategoryId]) VALUES (2004, N'Historic Rome', N'Rome, Italy', N'Explore Romes rich history through its iconic monuments.', 5, 3)
SET IDENTITY_INSERT [dbo].[Itineraries] OFF
GO
/****** Object:  Statistic [PK___EFMigrationsHistory]    Script Date: 28-08-23 17:34:58 ******/
UPDATE STATISTICS [dbo].[__EFMigrationsHistory]([PK___EFMigrationsHistory]) WITH STATS_STREAM = 0x010000000100000000000000000000000FA074F80000000040000000000000000000000000000000E7030000E70000002C0100000000000008D0003400000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000007_239E4DCF]    Script Date: 28-08-23 17:34:58 ******/
CREATE STATISTICS [_WA_Sys_00000007_239E4DCF] ON [dbo].[Activities]([ItineraryId]) WITH STATS_STREAM = 0x0100000001000000000000000000000064E831A100000000CB010000000000008B01000000000000380300003800000004000A0000000000000000000000000007000000969EC9006CB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F000000000400000100000000000000
GO
/****** Object:  Statistic [PK_Activities]    Script Date: 28-08-23 17:34:58 ******/
UPDATE STATISTICS [dbo].[Activities]([PK_Activities]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_25869641]    Script Date: 28-08-23 17:34:58 ******/
CREATE STATISTICS [_WA_Sys_00000002_25869641] ON [dbo].[Categories]([Name]) WITH STATS_STREAM = 0x010000000100000000000000000000000A75F0A3000000002E03000000000000EE02000000000000E7030000E7000000FFFF00000000000008D0003400000000070000002FD14B016BB000000500000000000000050000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000010000000CDCC6C410000A04000000000CDCC6C41000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000E5000000000000007A01000000000000820100000000000028000000000000004F0000000000000074000000000000009300000000000000C000000000000000300010000000803F000000000000803F04000001002700410076006F006E007400750075007200300010000000803F000000000000803F04000001002500430061006D00700069006E006700300010000000803F000000000000803F04000001001F004300690074007900300010000000803F000000000000803F04000001002D004500780070006C006F0072006100740069006F006E00300010000000803F000000000000803F040000010025004F00640079007300730065006500FF010000000000000005000000050000002800000028000000000000000000000024000000410076006F006E007400750075007200430061006D00700069006E0067006900740079004500780070006C006F0072006100740069006F006E004F006400790073007300650065000700000040000000008108000000C001080000810609000001030F0000810B12000001071D0000000500000000000000
GO
/****** Object:  Statistic [PK_Categories]    Script Date: 28-08-23 17:34:58 ******/
UPDATE STATISTICS [dbo].[Categories]([PK_Categories]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_276EDEB3]    Script Date: 28-08-23 17:34:58 ******/
CREATE STATISTICS [_WA_Sys_00000002_276EDEB3] ON [dbo].[Itineraries]([Name]) WITH STATS_STREAM = 0x01000000010000000000000000000000981BA1ED0000000043020000000000000302000000000000E7030000E7000000FFFF00000000000008D00034000000000700000090104C016BB0000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000F0410000803F000000000000F0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000003D000000000000008F0000000000000097000000000000000800000000000000300010000000803F000000000000803F04000001003500520069007A006500200069006E0020004200720075007300730065006C00FF01000000000000000100000001000000280000002800000000000000000000000F000000520069007A006500200069006E0020004200720075007300730065006C00020000004000000000010F000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_276EDEB3]    Script Date: 28-08-23 17:34:58 ******/
CREATE STATISTICS [_WA_Sys_00000003_276EDEB3] ON [dbo].[Itineraries]([Destination]) WITH STATS_STREAM = 0x010000000100000000000000000000006A18FC7C000000002302000000000000E301000000000000E7030000E7000000FFFF00000000000008D0003400000000070000008F104C016BB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000803F00000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002D000000000000006F0000000000000077000000000000000800000000000000300010000000803F000000000000803F040000010025004200720075007300730065006C00FF0100000000000000010000000100000028000000280000000000000000000000070000004200720075007300730065006C000200000040000000000107000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_276EDEB3]    Script Date: 28-08-23 17:34:58 ******/
CREATE STATISTICS [_WA_Sys_00000004_276EDEB3] ON [dbo].[Itineraries]([Description]) WITH STATS_STREAM = 0x010000000100000000000000000000001C5B0AD6000000008F020000000000004F02000000000000E7030000E7000000FFFF00000000000008D00034000000000700000090104C016BB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000088420000803F00000000000088420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000006300000000000000DB00000000000000E3000000000000000800000000000000300010000000803F000000000000803F04000001005B004D0061006B00650020007400720069007000200069006E00200061006C006C00200070006C006100630065007300200069006E0020004200720075007300730065006C00FF0100000000000000010000000100000028000000280000000000000000000000220000004D0061006B00650020007400720069007000200069006E00200061006C006C00200070006C006100630065007300200069006E0020004200720075007300730065006C000200000040000000000122000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_276EDEB3]    Script Date: 28-08-23 17:34:58 ******/
CREATE STATISTICS [_WA_Sys_00000005_276EDEB3] ON [dbo].[Itineraries]([Duration]) WITH STATS_STREAM = 0x01000000010000000000000000000000F16B18CD00000000CB010000000000008B01000000000000380300003800000004000A00000000000000000000000000070000008F104C016BB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F060000000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_276EDEB3]    Script Date: 28-08-23 17:34:58 ******/
CREATE STATISTICS [_WA_Sys_00000006_276EDEB3] ON [dbo].[Itineraries]([CategoryId]) WITH STATS_STREAM = 0x01000000010000000000000000000000EB5BAF7F00000000CB010000000000008B01000000000000380300003800000004000A000000000000000000000000000700000090104C016BB0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F050000000400000100000000000000
GO
/****** Object:  Statistic [PK_Itineraries]    Script Date: 28-08-23 17:34:58 ******/
UPDATE STATISTICS [dbo].[Itineraries]([PK_Itineraries]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
USE [master]
GO
